html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: white;
    color: #40514E;
    font-family: 'Yusei Magic', sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
}

a,
a:active,
a:link,
a:visited {
    text-decoration: none;
}

a {
    color: #11999E;
}

a:hover {
    color: #99ebee;
}

a:visited {
    color: #063d3f;
}

h1 {
    color: #66BFBF;
    font-family: 'Satisfy', cursive;
    font-size: 7rem;
    margin: 0 auto 0 auto;
}

h2 {
    color: #66BFBF;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    margin: 0 auto 0 auto;
}

h3 {
    color: #11999E;
    font-family: 'Noto Sans JP', sans-serif;
}

h3,
p {
    margin: 1em auto 1em auto;
    line-height: 2;
}

hr {
    border: 0;
    border-top: 8px #3a3a3a dotted;
    padding: 0;
    margin: 0 auto 0 auto;
    width: 4em;
}


span {
    text-decoration: underline;
}

.top-container {
    background-color: #EAF6F6;
    line-height: 1.4;
    padding-top: 2em;
    position: relative;
}

.banner-text {
    font-size: 2em;
    margin: 0 auto 0 auto;
}

.top-cloud {
    position: relative;
    left: 35em;
}

.mountain {
    position: relative;
    top: .285em;
    right: 5.2em;
    margin: 0 auto 0 auto;
}

.bottom-cloud {
    bottom: 20em;
    right: 20em;
    position: relative;
}

.robot {
    height: 32%;
    position: relative;
    right: 45em;  
    width: 30%;
}

.middle-container {
    margin: 4em auto 4em auto;
}

.profile {
    margin: 4em auto 4em auto;
}

.center-text {
    margin: 2em auto 2em auto;
    text-align: justify;
    width: 30%;
}

.skills {
    margin: 4em auto 4em auto;
}

.skill-row {
    padding-top: 1em;
    margin: 6.25em auto 0 auto;
    width: 50%;
    text-align: left;
    line-height: 2;
}

.computer {
    float: left;
    width: 25%;
    margin-right: 1.875em;
}

.chillis {
    float: right;
    width: 25%;
    margin-left: 30px;
}

.contact-me {
    line-height: 2;
    margin: 4em 0 4em 0;
}

.btn {
    background: #66BFBF;
    background-image: -webkit-linear-gradient(top, #66BFBF, #11999E);
    background-image: -moz-linear-gradient(top, #66BFBF, #11999E);
    background-image: -ms-linear-gradient(top, #66BFBF, #11999E);
    background-image: -o-linear-gradient(top, #66BFBF, #11999E);
    background-image: -webkit-gradient(to bottom, #66BFBF, #11999E);
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 2em;
    height: 2em;
    letter-spacing: 5px;
    line-height: 2em;
    margin: 1em auto 2em auto;
    text-decoration: none;
    text-align: center;
    width: 285px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.btn:hover {
    border: solid #337FED 0;
    background: #11999E;
    background-image: -webkit-linear-gradient(top, #11999E, #66BFBF);
    background-image: -moz-linear-gradient(top, #11999E, #66BFBF);
    background-image: -ms-linear-gradient(top, #11999E, #66BFBF);
    background-image: -o-linear-gradient(top, #11999E, #66BFBF);
    background-image: -webkit-gradient(to bottom, #11999E, #66BFBF);
}


.bottom-container {
    background-color: #66BFBF;
    color: #11999E;
    font-family: 'Noto Sans JP', sans-serif;
    height: 25%;
    margin: 0;
    padding-top: 2em;
}

.footer-link {
    margin: 0 5em 0 5em;
}

.copywrite {
    margin-top: 3em;
    color: #EAF6F6;
}