html,
body {
	height: 100%;
	width: 100%;
}

#bg {
	background: #212121 url("../img/index/banner.jpg");
	background-repeat: repeat-x;
	height: 100%;
	left: 0;
	opacity: 1;
	position: relative;
	top: 0;
	width: 100%;
}

#banner-text-container {
	color: #ffffff;
	text-shadow: 2px 2px 5px rgb(0, 0, 0);
	font-weight: bold;
}

#header-link {
	color: black;
	text-decoration: none;
}
#cert-image {
	height: 5rem
}
.cert {
	width: 250px; 
}

/* ________Nav_Bar_____________________________________________________________________________________________________________________________________________ */

.nav {

	display: block;
	overflow: hidden;
}
.nav a {
	color: #a1a1a1;
	display: inline-block;
	margin-right: 8.7%;
	text-align: center;
	text-decoration: none;
}
.nav a:hover {
	background-color: #cfd3ce;
	color: #000000;
}
.nav a.active {
	background-color: #c6b497;
	color: #949494;
	float: left;
}
.nav .icon {
	display: none;
}
@media screen and (max-width: 1000px) {
	.nav {
		margin: 0
	}
	.nav a:not(:first-child) {
		display: none;
	}
	.nav a.icon {
		float: right;
		display: block;
	}
}
@media screen and (max-width: 1000px) {
	nav.responsive {
		position: absolute;
	}
	.nav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}